In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [4]:
data = pd.read_csv('../raw_data/archives2/archive(2)/preprocessed_data.csv')

In [12]:
data.head()

,title,text,classification
0,A DESCENT INTO THE MAELSTRÖM,"The ways of God in Nature, as in Providence, a...",Adventure
1,A PREDICAMENT,"What chance, good lady, hath bereft you thus? ...",Parody
2,A TALE OF JERUSALEM,Intensos rigidarn in frontern ascendere canos ...,Humor
3,A TALE OF THE RAGGED MOUNTAINS,"DURING the fall of the year 1827, while residi...","Adventure,Science_fiction"
4,BERENICE,"Dicebant mihi sodales, si sepulchrum amicae vi...",Horror

In [7]:
data.pop('notes')

0                                                     ?
1     Companion to "How to Write a Blackwood Article...
2                                                     ?
3                                                     ?
4                                                     ?
                            ...
65                                                    ?
66                                                    ?
67                                                    ?
68                                                    ?
69                                                    ?
Name: notes, Length: 70, dtype: object

In [11]:
data.pop('first_published_in')
data.pop('publication_date')
data.pop('normalized_date')
data.pop('wikipedia_title')

0       A Descent into the Maelström
1                      A Predicament
2                A Tale of Jerusalem
3     A Tale of the Ragged Mountains
4                           Berenice
                   ...
65                                 ?
66                                 ?
67                                 ?
68                                 ?
69                                 ?
Name: wikipedia_title, Length: 70, dtype: object

In [14]:
data.to_csv('../processed_data/achives_2.csv')

In [16]:
data

,title,text,classification
0,A DESCENT INTO THE MAELSTRÖM,"The ways of God in Nature, as in Providence, a...",Adventure
1,A PREDICAMENT,"What chance, good lady, hath bereft you thus? ...",Parody
2,A TALE OF JERUSALEM,Intensos rigidarn in frontern ascendere canos ...,Humor
3,A TALE OF THE RAGGED MOUNTAINS,"DURING the fall of the year 1827, while residi...","Adventure,Science_fiction"
4,BERENICE,"Dicebant mihi sodales, si sepulchrum amicae vi...",Horror
...,...,...,...
65,THE BALLOON-HOAX,"[Astounding News by Express, via Norfolk!—The ...","Fiction,Hoax"
66,THE MYSTERY OF MARIE ROGET,A SEQUEL TO “THE MURDERS IN THE RUE MORGUE.” ...,Detective_fiction
67,THE POETIC PRINCIPLE,"IN speaking of the Poetic Principle, I have no...",Essay
68,THE UNPARALLELED ADVENTURES OF ONE HANS PFAAL,"BY late accounts from Rotterdam, that city see...","Hoax,Science_fiction"
69,X-ING A PARAGRAPH,AS it is well known that the ‘wise men’ came ‘...,Satire

In [19]:
data.text.str.len().sum()

1914277