In [1]:
import numpy as np
import pandas as pd
import re
import os
import glob

In [2]:
!pwd

/home/isaacs07/code/CedrikGiau/NLP_Project_Stories/notebooks

In [3]:
# folder path
dir_path = r'/home/isaacs07/code/CedrikGiau/NLP_Project_Stories/raw_data/archive_30/archive(30)/sherlock'
# list to store files
res = []
# Iterate directory
for file in os.listdir(dir_path):
    # check only text files
    if file.endswith('.txt'):
        res.append(file)
print(res)

['maza.txt', 'miss.txt', 'shos.txt', '3gar.txt', 'cano.txt', 'seco.txt', 'lion.txt', 'stud.txt', 'lady.txt', 'gold.txt', 'blan.txt', 'glor.txt', 'gree.txt', 'copp.txt', 'resi.txt', 'redc.txt', 'twis.txt', 'empt.txt', 'retn.txt', 'danc.txt', 'croo.txt', 'scan.txt', 'blue.txt', 'vall.txt', 'norw.txt', 'fina.txt', 'blac.txt', '3stu.txt', 'wist.txt', 'cree.txt', 'reti.txt', 'redh.txt', 'reig.txt', 'sign.txt', 'houn.txt', 'bruc.txt', 'abbe.txt', 'dyin.txt', 'devi.txt', 'yell.txt', 'case.txt', 'stoc.txt', 'bosc.txt', 'last.txt', 'engr.txt', 'lstb.txt', 'nava.txt', 'mems.txt', 'spec.txt', 'bery.txt', 'musg.txt', 'advs.txt', 'suss.txt', 'chas.txt', 'thor.txt', 'nobl.txt', 'card.txt', 'illu.txt', 'five.txt', 'veil.txt', 'cnus.txt', 'iden.txt', 'silv.txt', '3gab.txt', 'soli.txt', 'prio.txt', 'sixn.txt']

In [4]:

stories = {}
i=0
for file in glob.glob(f'{dir_path}/*'):

# for file in res:
    with open(file, "r") as text_file:
        first_line = text_file.readline()
        stories[i]=[first_line,text_file.read()]
        
    i+=1

In [13]:
stories_df = pd.DataFrame.from_dict(data=stories, orient='index', columns=['title', 'text'])

In [14]:
stories_df

,title,text
0,THE ADVENTURE OF THE MA...,\n\n\n\n It was pleasant to Dr. Watson to ...
1,\t\t\t\tTHE ADVENTURE OF THE MISSING THREE-QUA...,\n\n\n\n We were fairly accustomed to rece...
2,THE ADVENTURE OF SHOSCOM...,\n\n\n\n Sherlock Holmes had been bending ...
3,THE ADVENTURE OF THE THR...,"\n\n\n\n It may have been a comedy, or it ..."
4,THE COMPLETE SHERLOC...,\n\n\n\n ...
...,...,...
62,SILVER BLAZE\n,"\n\n\n\n ""I am afraid, Watson, that I shal..."
63,THE ADVENTURE OF THE T...,\n\n\n I don't think that any of my advent...
64,THE ADVENTURE OF THE SOL...,\n\n\n\n From the years 1894 to 1901 inclu...
65,THE ADVENTURE OF THE PR...,\n\n\n\n We have had some dramatic entranc...
66,THE ADVENTURE OF THE SI...,\n\n\n\n It was no very unusual thing for ...

In [15]:
type(stories_df.text[0])

str

In [16]:
stories_df['text'] = stories_df['text'].map(lambda x: x.replace('\n', ''))

In [21]:
stories_df['title'] = stories_df['title'].map(lambda x: x.replace('\t', ''))

In [22]:
stories_df['title'] = stories_df['title'].map(lambda x: x.replace('\n', ''))

In [23]:
stories_df

,title,text
0,THE ADVENTURE OF THE MA...,It was pleasant to Dr. Watson to find him...
1,THE ADVENTURE OF THE MISSING THREE-QUARTER,We were fairly accustomed to receive weir...
2,THE ADVENTURE OF SHOSCOM...,Sherlock Holmes had been bending for a lo...
3,THE ADVENTURE OF THE THR...,"It may have been a comedy, or it may have..."
4,THE COMPLETE SHERLOC...,PART I ...
...,...,...
62,SILVER BLAZE,"""I am afraid, Watson, that I shall have t..."
63,THE ADVENTURE OF THE T...,I don't think that any of my adventures w...
64,THE ADVENTURE OF THE SOL...,From the years 1894 to 1901 inclusive Mr....
65,THE ADVENTURE OF THE PR...,We have had some dramatic entrances and e...
66,THE ADVENTURE OF THE SI...,It was no very unusual thing for Mr. Lest...

In [29]:
stories_df.to_csv('../processed_data/archive_30.csv')